<wm-page layouttype="one-column" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-header content="header" name="header" backgroundcolor="#005387" class="eshop-header" height="6em"></wm-header>
    <wm-top-nav name="nav-bar-primary" backgroundcolor="#0a3151" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Deals of the Day" fontsize="20" name="Heading" width="100%"></wm-label>
                <wm-panel name="dealsBanner" class="dealsBanner" marginbottom="0.5" marginunit="em">
                    <wm-view id="view1" name="promo-camera" backgroundimage="resources/images/imagelists/cameras_banner.png" backgroundrepeat="no-repeat" show="true" viewgroup="promos"></wm-view>
                    <wm-view id="view2" name="promo-mobile" backgroundimage="resources/images/imagelists/phones_banner.png" backgroundrepeat="no-repeat" show="false" viewgroup="promos"></wm-view>
                    <wm-view id="view3" name="promo-peripheral" backgroundimage="resources/images/imagelists/peripherals_banner.png" backgroundrepeat="no-repeat" horizontalalign="center" show="false" viewgroup="promos"></wm-view>
                </wm-panel>
                <wm-label caption="Hot Picks" fontsize="20" name="Heading" width="100%"></wm-label>
                <wm-layoutgrid columns="3" class="productCategoryListing" name="productCategoryListing" rows="1" height="auto">
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn5" class="prodcategory col-sm-4">
                            <a href="#/Category/Smartphones">
                                <wm-picture name="Smart Phones" class="prodCategoryBanner" picturesource="resources/images/imagelists/smartphones_category.png" width="100%" cursor="pointer"></wm-picture>
                            </a>
                            <wm-livelist name="smartphoneslist" data-ng-controller="smartphoneslistController" class="products-list" dataset="bind:Variables.smartphones_list.dataSet" cursor="pointer">
                                <wm-listtemplate name="listtemplate1">
                                    <a href="#/Products/{{item.id}}">
                                        <wm-column columnwidth="4" class="col-xs-4" name="column3">
                                            <wm-picture name="picture5" class="list-product-thumb" picturesource="bind:Variables.smartphones_list.dataSet.imgUrl"></wm-picture>
                                        </wm-column>
                                        <wm-column columnwidth="8" class="col-xs-8" name="column2">
                                            <wm-label name="phone-name" caption="bind:Variables.smartphones_list.dataSet.name" width="100%"></wm-label>
                                            <wm-label name="phone-curr" caption="$"></wm-label>
                                            <wm-label name="phone-price" caption="bind:Variables.smartphones_list.dataSet.price"></wm-label>
                                        </wm-column>
                                    </a>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn6" class="prodcategory col-sm-4">
                            <a href="#/Category/Cameras">
                                <wm-picture name="Cameras" class="prodCategoryBanner" picturesource="resources/images/imagelists/cameras_category.png" width="100%" cursor="pointer"></wm-picture>
                            </a>
                            <wm-livelist name="cameraslist" data-ng-controller="cameraslistController" class="products-list" dataset="bind:Variables.cameras_list.dataSet" cursor="pointer">
                                <wm-listtemplate name="listtemplate2">
                                    <a href="#/Products/{{item.id}}">
                                        <wm-column columnwidth="4" class="col-xs-4" name="column4">
                                            <wm-picture name="picture6" class="list-product-thumb" picturesource="bind:Variables.cameras_list.dataSet.imgUrl"></wm-picture>
                                        </wm-column>
                                        <wm-column columnwidth="8" class="col-xs-8" name="column5">
                                            <wm-label name="cameras-name" caption="bind:Variables.cameras_list.dataSet.name" width="100%"></wm-label>
                                            <wm-label name="cameras-curr" caption="$"></wm-label>
                                            <wm-label name="cameras-price" caption="bind:Variables.cameras_list.dataSet.price"></wm-label>
                                        </wm-column>
                                    </a>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn7" class="prodcategory col-sm-4">
                            <a href="#/Category/Laptops">
                                <wm-picture name="Laptops" class="prodCategoryBanner" picturesource="resources/images/imagelists/laptops_category.png" width="100%" cursor="pointer"></wm-picture>
                            </a>
                            <wm-livelist name="laptopslist" data-ng-controller="laptopslistController" class="products-list" dataset="bind:Variables.laptops_list.dataSet" cursor="pointer">
                                <wm-listtemplate name="listtemplate3">
                                    <a href="#/Products/{{item.id}}">
                                        <wm-column columnwidth="4" class="col-xs-4" name="column6">
                                            <wm-picture name="picture7" class="list-product-thumb" picturesource="bind:Variables.laptops_list.dataSet.imgUrl"></wm-picture>
                                        </wm-column>
                                        <wm-column columnwidth="8" class="col-xs-8" name="column7">
                                            <wm-label name="laptops-name" caption="bind:Variables.laptops_list.dataSet.name" width="100%"></wm-label>
                                            <wm-label name="laptops-curr" caption="$"></wm-label>
                                            <wm-label name="laptops-price" caption="bind:Variables.laptops_list.dataSet.price"></wm-label>
                                        </wm-column>
                                    </a>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-label caption="Deals" fontsize="20" name="Heading" width="100%"></wm-label>
                <wm-layoutgrid rows="1" columns="2" name="layoutgrid3" height="auto" backgroundcolor="#e3e3e3" bordercolor="#c1cfe3" borderstyle="solid" bordertop="2" borderright="2" borderleft="2" borderbottom="2">
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn6">
                            <a href="#/Category/Accessories">
                                <wm-picture name="Accessories" picturesource="resources/images/imagelists/accessories__category.png" width="80%" cursor="pointer"></wm-picture>
                            </a>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn15">
                            <a href="#/Category/Peripherals">
                                <wm-picture name="Peripherals" picturesource="resources/images/imagelists/peripherals_category.png" width="80%" cursor="pointer"></wm-picture>
                            </a>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>
