<wm-page layouttype="one-column" columns="1" data-ng-controller="AdminPageController" name="page1">
    <wm-header name="header" backgroundcolor="#005387" class="eshop-header" height="6em">
        <wm-layoutgrid rows="1" columns="2" name="layoutgrid23" height="100%">
            <wm-gridrow name="gridrow28">
                <wm-gridcolumn name="gridcolumn68">
                    <wm-picture name="picture1" picturesource="bind:Variables.eshopIcon.dataSet.dataValue"></wm-picture>
                    <wm-label name="applicationName" on-click="appName" caption="bind:Variables.appName.dataSet.dataValue" fontweight="bold" fontsize="24" color="#d1d039" class="application-name appName"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn70" horizontalalign="right" paddingtop="1" paddingunit="em" paddingright=".5"></wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-header>
    <wm-top-nav name="top-nav" backgroundcolor="#0a3151">
        <wm-list name="topLinks" horizontalalign="right" class="top-nav nav-actions col-md-12">
            <wm-list-item name="topLink7">
                <wm-button caption="LOGOUT" class="top-link" name="logoutlink" on-click="logoutVariable" iconname="log-out" iconmargin="3px"></wm-button>
            </wm-list-item>
        </wm-list>
    </wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-tabs name="tabs1" height="auto">
                    <wm-tabpane name="tabpane1">
                        <wm-tabheader name="tabheader1" heading="PRODUCTS"></wm-tabheader>
                        <wm-tabcontent name="tabcontent1">
                            <wm-livegrid name="livegrid1" service="eshopping@Product">
                                <wm-grid height="400" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid1" dataset="bind:Variables.EshoppingProductData.dataSet">
                                    <wm-grid-column binding="id" caption="Product ID" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="name" caption="Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="price" caption="Price" type="double" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="category" caption="Category" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="description" caption="Description" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="availability" caption="Availability" type="boolean" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform novalidate="false" height="200" name="liveform1" dataset="bind:Variables.EshoppingProductData.dataSet"></wm-liveform>
                            </wm-livegrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane2">
                        <wm-tabheader name="tabheader2" heading="USERS"></wm-tabheader>
                        <wm-tabcontent name="tabcontent2">
                            <wm-livegrid name="livegrid2" service="eshopping@User">
                                <wm-grid height="400" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid2" dataset="bind:Variables.EshoppingUserData.dataSet">
                                    <wm-grid-column binding="id" caption="User ID" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="name" caption="Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="email" caption="Email" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="password" caption="Password" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="product_bought" caption="Products Bought" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="phone" caption="Phone" type="integer" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="street" caption="Street" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="city" caption="City" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="country" caption="Country" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="pin" caption="Pincode" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform novalidate="false" height="200" name="liveform2" dataset="bind:Variables.EshoppingUserData.dataSet">
                                    <wm-form-field key="id" display-name="id" show="true" type="integer" primary-key="true" generator="identity" readonly="true" required="true" value="1"></wm-form-field>
                                    <wm-form-field key="landmark" display-name="landmark" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="St. Matthew Church"></wm-form-field>
                                    <wm-form-field key="phone" display-name="phone" show="true" type="integer" primary-key="false" generator="null" readonly="false" required="true" value="50515501"></wm-form-field>
                                    <wm-form-field key="pin" display-name="pin" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="95051"></wm-form-field>
                                    <wm-form-field key="email" display-name="email" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="john@abc.com"></wm-form-field>
                                    <wm-form-field key="street" display-name="street" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="51"></wm-form-field>
                                    <wm-form-field key="name" display-name="name" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="John"></wm-form-field>
                                    <wm-form-field key="product_bought" display-name="product_bought" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255"></wm-form-field>
                                    <wm-form-field key="password" display-name="password" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="john123!"></wm-form-field>
                                    <wm-form-field key="country" display-name="country" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="USA"></wm-form-field>
                                    <wm-form-field key="city" display-name="city" show="true" type="string" primary-key="false" generator="null" readonly="false" required="true" maxvalue="255" value="LA"></wm-form-field>
                                    <wm-form-action key="save" display-name="save" show="true" class="form-save btn-success" iconname="save" type="submit" update-mode="true"></wm-form-action>
                                    <wm-form-action key="cancel" display-name="cancel" show="true" class="form-cancel" iconname="cancel" action="formCancel()" type="button" update-mode="true"></wm-form-action>
                                </wm-liveform>
                            </wm-livegrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane3">
                        <wm-tabheader name="tabheader3" heading="ORDERS"></wm-tabheader>
                        <wm-tabcontent name="tabcontent3">
                            <wm-livegrid name="livegrid3" service="eshopping@Productorder">
                                <wm-grid height="400" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid3" dataset="bind:Variables.EshoppingProductorderData.dataSet">
                                    <wm-grid-column binding="id" caption="Order Id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="status" caption="Order Status" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="user.email" caption="Customer Email" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="user.name" caption="Customer Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform novalidate="false" height="200" name="liveform3" dataset="bind:Variables.EshoppingProductorderData.dataSet"></wm-liveform>
                            </wm-livegrid>
                            <wm-livegrid name="livegrid6" service="eshopping@Orderdetail">
                                <wm-grid height="400" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" name="grid4" dataset="bind:Variables.EshoppingOrderdetailData.dataSet">
                                    <wm-grid-column binding="productorder.id" caption="Order Id" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="product.category" caption="Category" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="product.name" caption="Product Name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                    <wm-grid-column binding="quantity" caption="Quantity" type="integer" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                </wm-grid>
                                <wm-liveform novalidate="false" height="200" name="liveform4" dataset="bind:Variables.EshoppingOrderdetailData.dataSet"></wm-liveform>
                            </wm-livegrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                </wm-tabs>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer" height="auto"></wm-footer>
</wm-page>